In [1]:
"""
Fetch Periodic Table Data and Load into Pandas DataFrame

This script pulls element properties from the ptable.com JSON API,
cleans the raw data, and presents it as a readable DataFrame.

Key steps:
1. Fetch JSON data from the API
2. Filter out empty entries
3. Extract key element properties
4. Build and display a Pandas DataFrame
"""

'\nFetch Periodic Table Data and Load into Pandas DataFrame\n\nThis script pulls element properties from the ptable.com JSON API,\ncleans the raw data, and presents it as a readable DataFrame.\n\nKey steps:\n1. Fetch JSON data from the API\n2. Filter out empty entries\n3. Extract key element properties\n4. Build and display a Pandas DataFrame\n'

In [2]:
import requests
import pandas as pd
from pandas_gbq import to_gbq

# Show all DataFrame columns in Jupyter/console output
pd.set_option('display.max_columns', None)

In [3]:
# Step 1: URL for periodic table JSON data
url = "https://ptable.com/JSON/properties-951c835.json"

In [4]:
# Step 2: Fetch JSON data from the URL
response = requests.get(url)
data = response.json()

In [5]:
# Step 3: Keep only valid element entries (skip empty lists)
elements = [
    element for element in data 
    if isinstance(element, dict) and 'symbol' in element
]

In [6]:
# Step 4: Extract selected properties for a clean table
rows = []
for element in elements:
    rows.append({
        'Atomic Number': element.get('atomic', ''),
        'Symbol': element.get('symbol', ''),
        'Atomic Weight': element.get('weight', ''),
        'Electron Configuration': element.get('electronstring', ''),
        'Series': element.get('series', ''),
        'Melting Point (K)': element.get('melt', ''),
        'Boiling Point (K)': element.get('boil', ''),
        'Electronegativity': element.get('electroneg', ''),
        'Valence': element.get('valence', ''),
        'Discovery Year': element.get('discover', '')
    })

In [7]:
# Step 5: Build DataFrame
df = pd.DataFrame(rows)

In [8]:
# Step 6: Display the first 20 rows
display(df.head(10))

,Atomic Number,Symbol,Atomic Weight,Electron Configuration,Series,Melting Point (K),Boiling Point (K),Electronegativity,Valence,Discovery Year
0,1,H,1.008,1s1,Nonmetal,14.01,20.28,2.20,1,1766
1,2,He,4.002602,1s2,Noble,,4.22,,0,1895
2,3,Li,6.94,[He] 2s1,Alkali,453.69,1615.,0.98,1,1817
3,4,Be,9.0121831,[He] 2s2,Alkaline,1560.,2743.,1.57,2,1797
4,5,B,10.81,[He] 2s2 2p1,Metalloid,2348.,4273.,2.04,3,1808
5,6,C,12.011,[He] 2s2 2p2,Nonmetal,3915.,3915.,2.55,4,-3749
6,7,N,14.007,[He] 2s2 2p3,Nonmetal,63.05,77.36,3.04,5,1772
7,8,O,15.999,[He] 2s2 2p4,Nonmetal,54.8,90.2,3.44,2,1774
8,9,F,18.998403162,[He] 2s2 2p5,Nonmetal,53.5,85.03,3.98,1,1886
9,10,Ne,20.1797,[He] 2s2 2p6,Noble,24.56,27.07,,0,1898

In [9]:
# Replace spaces and parentheses with underscores
df.columns = (
    df.columns
    .str.strip()                # remove leading/trailing spaces
    .str.replace(' ', '_', regex=False)
    .str.replace('(', '', regex=False)
    .str.replace(')', '', regex=False)
)

In [10]:
# Point to the full path of your JSON key
import os
from pandas_gbq import to_gbq

# Point to your JSON key
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = r"C:\Users\ayero\Downloads\periodic-table-dataset-1877a07a279b.json"

# Upload DataFrame to BigQuery
to_gbq(
    df,
    destination_table="data123.periodicdata",  # dataset.table
    project_id="periodic-table-dataset",
    if_exists="replace"  
)

print("Data loaded into BigQuery: mydataset.PeriodicTable")

100%|██████████| 1/1 [00:00<?, ?it/s]

✅ Data loaded into BigQuery: mydataset.PeriodicTable